<?php
/**
 * This file is part of the console-runner package, a StreamCommon open software project.
 *
 * @copyright (c) 2019 StreamCommon Team
 * @see https://github.com/streamcommon/console-runner
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

use Streamcommon\Console\ConfigProvider;
use Zend\ServiceManager\ServiceManager;

$configProvider = new ConfigProvider();
$config = $configProvider();
$dependencies = $config['dependencies'];
$dependencies['services']['config'] = $config;

return new ServiceManager($dependencies);